img#profileWallpaper {
	width: 100%;
}

img#profilePicture {
	margin: 10px;
	position: relative;
	float: left;
	bottom: 13em;
	width: 100%;
	border: solid darkgrey 2px;
	height: 160px;
}

@media only screen and (max-width: 760px) {
	img#profilePicture {
		bottom: 12em;
		width: 150%;
	}
}

@media only screen and (max-width: 600px) {
	img#profilePicture {
		bottom: 6em;
		width: 150%;
		height: 5em;		
	}
}

@media only screen and (max-width: 360px) {
	img#profilePicture {
		width: 200%;		
	}
}

@media only screen and (max-width: 300px) {
	img#profilePicture {
		bottom: 6em;
		width: 150%;
		height: 3em;
	}
}
